.error {
  position: relative;
  display: inline-block;
}

.error::after {
  content: attr(data-error);
  position: absolute;
  height: 16px;
  line-height: 16px;
  bottom: -16px;
  left: 0;
  right: 0;
  font-size: 12px;
  color: red;
  transition: all 0.5s;
  opacity: 0;
  transform: translateY(-4px);
}

.show-error.error::after {
  opacity: 1;
  transform: translateY(0);
}
